.copyright-div{
    background-color: #101010;
    height: 100px;
    text-align: center;
}
.icon-decoration{
border-radius: 5px;
border: 2px solid gray;
width: 50px;
height:50px;
color: gray;
padding:10px 10px 10px 10px;
margin: 25px 10px 10px 10px;
}
.icon-decoration:hover{
    background-color: #dd9933;
    color: white;
    padding: 12px 12px 12px 12px;
}
.copyright-company{
    background-color: #101010;
    color: gray !important;
    text-align: center;
    padding:30px 10px 20px 10px;
}
.aa{
    text-decoration: none;
    color:#dd9933!important;
}